<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Alfresco</a>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button> 
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Add
        </button>
        <button type="button" class="btn btn-secondary" >Logout</button>
      
  
      </form>
    </div>
  </nav>
  <br/><br/> 
  <div class="container">
<h1>List of root folders    </h1>
  </div>
